<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Demo</title>
</head>
<body>
    <form method="get" action="hello">
        <input type="text" name="param1"><br/>
        <input type="submit" value="Submit">
    </form>
    <br/>
    <form method="post" action="hello">
        <input type="text" name="Username" placeholder="Username" required><br/>
        <input type="text" name="Password" placeholder="Password" required><br/>

        <input type="submit" value="Login">
    </form>
</body>
</html>